@font-face {
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;

  src: url(../fonts/Gilroy-Medium.ttf);

  font-family: Gilroy-Bold;
  font-style: normal;

  src: url(../fonts/Gilroy-Bold.woff);
}

body {
  font-family: 'Gilroy-Medium', sans-serif;
  width: 100%;
  min-width: 1445px;
}

/* Container */

.container {
  width: 100%;
  max-width: 945px;
  height: auto;
}

.container-fluid {
  width: 100%;
  max-width: 980px;
}

.container-fluid:after {
  content: "";
  width: 940px;
  height: 1px;
  background-color: #828282;
  display: block;
  margin: 30px auto 40px;
}

.container-contacts {
  padding: 115px 0 123px;
}



/* Section */

.section {
  width: 100%;
  max-width: 1445px;
  height: auto;
}

.section-about {
  padding: 120px 0 107px;
  max-width: 1445px;
  height: auto;
  background: #F6F6F6;
}

.section-portfolio {
  padding-top: 112px;
  max-width: 1445px;
  height: auto;
  background: #F6F6F6;
}

/* Header */

.header {
  height: 768px;
}

.name {
  font-family: 'Gilroy-Bold';
  font-size: 47px;
}

.header_about-author {
  font-size: 18px;
  color: #070707;
}

.btn-group {
  position: absolute;
  margin-top: -70px;
  margin-right: -62px;
  rotate: -90deg;
}

.btn-lang {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 16px;
  text-decoration: none;
}


hr {
  color: #333; 
}

.vr {
  width: 2px;
  height: fit-content;
  align-self: center;
  opacity: 1;
}

/* Navbar */

.navbar {
  margin: 0 auto;
}


.nav-link {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  color: #828282;
}


/* About */
.about__description {
  width: 100%;
  max-width: 485px;
  height: 218px;
}

.about__item {
  text-align: center;
  font-size: 18px;
  color: #070707;
}

.suptitle {
  font-family: 'Gilroy Bold', sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: #070707;
}


/* Skills */
.skill__item {
  margin: 30px auto 111px;
}

.skill__title {
  margin: 24px auto 40px;
  width: 85px;
  text-align: center;

  font-size: 14px;
  font-weight: 700;
  color: #828282;
}

.skill__rate-figma {
  margin-top: 23px;
}


/* Portfolio */
.portfolio__example {
  margin: 39px auto 44px;
  width: 100%;
  height: auto;
}

.portfolio__text {
  margin-bottom: 100px;

  text-decoration: none;
  text-align: center;

  font-size: 18px;
  font-weight: 400;
  color: #070707;
}

.portfolio__text:hover {
  text-decoration: underline;
  color: #070707;
}


/* Contacts */
.btn-dark {
  margin-bottom: 85px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 6px 30px;
  border-radius: 20px;
  transition: color, background-color .2s linear;
}

.btn-dark:hover:focus {
  color: #070707;
  background-color: #fff;
}

.social-item {
  margin: 0 31px;
  transition: opacity .2s linear;
}

.social-item:hover,
.social-item:focus {
  opacity: 0.5;
}

.contact-text {
  margin-top: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  color: #828282;
}

/* Media */

@media (max-width: 575px) {

  /* Header */
  .btn-lang, .vr {
    display: none;
  }

  

}