@font-face {
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;

  src: url(../fonts/Gilroy-Medium.ttf);

  font-family: Gilroy-Bold;
  font-style: normal;

  src: url(../fonts/Gilroy-Bold.woff);
}

body {
  font-family: 'Gilroy-Medium', sans-serif;
  width: 100%;
  min-width: 1445px;
  margin: 0;
  color:#070707;
  line-height: 1.2;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
  display: block;
  width: 100%;
  max-width: 945px;
  height: 1px;
  margin: 40px auto;
  background-color: #828282;
  border: none;
}
/* Section */

.section-about {
  background: #F6F6F6;
}

.section-about
.section__header {
  padding: 120px 0 17px;
}

.section__title {
  text-align: center;
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-size: 34px;
}

.section__text {
  text-align: center;
}

.section__text p {
  max-width: 485px;
  margin: 0 auto;
}


/* Container */
.container {
  width: 100%;
  max-width: 945px;
  margin: 0 auto;
}

/* Nav */
.nav {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  font-weight: 700;

  text-decoration: none;
  color: #828282;
  ;

  transition: color .2s linear;
  
}

.nav__link.active {
  color: #070707;
}

.nav__link:hover {
  color: #070707;
}



/* Intro */
.intro__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}

.intro__name {
  font-family: 'Gilroy-Bold';
  font-size: 47px;
}

.intro__prof {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 300;
  color: #070707;
}

.intro__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  transform: rotate(270deg);
  transform-origin: 80%;
  width: 65px;
}

.intro__lang-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  text-transform: uppercase;
  
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.intro__lang-btn-ru {
  color: #828282;
}

.intro__lang-btn-eng {
  color: #000
}

.intro__lang-btn-eng::before {
  display: block;
  content: "";
  width: 2px;
  height: 15px;
  background-color: #000;
  position: absolute;
  left: 21px;
  bottom: 47px;
  margin: 0px 4px;
}

.intro__img {
  margin: 50px auto 104px;
}

.intro__img img {
  display: block;
  width: 100%;
  height: auto;
}

