@font-face {
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;

  src: url(../fonts/Gilroy-Medium.ttf);

  font-family: Gilroy-Bold;
  font-style: normal;

  src: url(../fonts/Gilroy-Bold.woff);
}

body {
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 400;
  width: 100%;
  
  margin: 0;
  color:#070707;
  line-height: 1.1;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
  display: block;
  width: 100%;
  max-width: 945px;
  height: 1px;
  margin: 40px auto;
  background-color: #828282;
  border: none;
}
/* Section */

.section-about, 
.section-portfolio {
  background: #F6F6F6;
}

.section-about
.section__header {
  padding: 120px 0 17px;
}

.section-portfolio {
  padding: 112px 0 96px;
}
.section__title {
  text-align: center;
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-size: 34px;
}

.section__text {
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.section__text-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 485px;
  height: auto;
  padding-bottom: 107px;
}


/* Container */
.container {
  width: 100%;
  max-width: 945px;
  height: auto;
  margin: 0 auto;
}

/* Nav */
.nav {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  font-weight: 700;

  text-decoration: none;
  color: #828282;
  ;

  transition: color .2s linear;
  
}

.nav__link.active {
  color: #070707;
}

.nav__link:hover {
  color: #070707;
}



/* Intro */
.intro__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}

.intro__name {
  font-family: 'Gilroy-Bold';
  font-size: 47px;
}

.intro__prof {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 300;
  color: #070707;
}

.intro__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  transform: rotate(270deg);
  transform-origin: 80%;
  width: 65px;
}

.intro__lang-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  text-transform: uppercase;
  
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.intro__lang-btn-ru {
  color: #828282;
}

.intro__lang-btn-eng {
  color: #000
}

.intro__lang-btn-eng::before {
  display: block;
  content: "";
  width: 2px;
  height: 15px;
  background-color: #000;
  position: absolute;
  left: 21px;
  bottom: 42px;
  margin: 0px 4px;
}

.intro__img {
  margin: 50px auto 104px;
}

.intro__img img {
  display: block;
  width: 100%;
  height: auto;
}


/* Skills */
.section-skills .section__title {
  padding-top: 90px;
}

.section__text-skills {
  margin: 69px auto 83px;
}

.skills {
  margin-bottom: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__item {
  text-align: center;
}

.skills__item-title {
  margin: 24px auto 40px;
  width: 100%;
  max-width: 80px;
  min-height: 34px;
  font-family: 'Gilroy-bold', sans-serif;
  font-size: 14px;
  color: #828282;
}

.skills__item-rate img {
  margin-right: 9px;
}

/* Portfolio */
.section__title-portfolio {
  margin-bottom: 47px;
}

.works__item-text {
  text-align: center;
  display: block;
  margin: 45px auto 100px;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}

.works__item-text:hover {
  text-decoration: underline;
}

/* Contacts */
.section__title-contacts {
  margin: 114px auto 20px;
}

.button {
  display: block;
  margin: 30px auto 85px;
  background-color: #070707;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  font-family: 'Gilroy-bold', sans-serif;
  font-size: 18px;
  transition: .3s linear;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 30px;
  text-align: center;
  border-radius: 5px;
  transition: box-shadow .3s ease;
}

.social__item:hover {
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5)
}

.social__text {
  margin: 45px 123px;
  text-align: center;
  font-size: 14px;
  color: #828282;
}