@font-face {
  font-family: Gilroy-Medium;
  font-style: normal;
  font-weight: 400;

  src: url(../fonts/Gilroy-Medium.ttf);

  font-family: Gilroy-Bold;
  font-style: normal;

  src: url(../fonts/Gilroy-Bold.woff);
}

body {
  font-family: 'Gilroy-Medium', sans-serif;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;

  margin: 0;
  color: #070707;
  line-height: 1.1;
}



*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  max-width: 945px;
  height: 1px;
  margin: 40px auto;
  background-color: #828282;
  border: none;
}
/* Section */
.section {
  width: 100%;
}

.section-about,
.section-portfolio {
  background: #f6f6f6;
}

.section-about .section__header {
  padding: 120px 0 17px;
}

.section-portfolio {
  padding: 112px 0 96px;
}
.section__title {
  text-align: center;
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-size: 34px;
}

.section__text {
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.section__text-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 485px;
  height: auto;
  padding-bottom: 107px;
}

/* Container */
.container {
  width: 100%;
  max-width: 945px;
  height: auto;
  margin: 0 auto;
}

/* Nav and Header */

.nav {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
}

.nav__link {
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  font-weight: 700;

  text-decoration: none;
  color: #828282;
  transition: color 0.2s linear;
}

.nav.active {
  display: block;
}

.nav__link.active {
  color: #070707;
}

.nav__link:hover {
  color: #070707;
}

.nav-toggle {
  display: none;
  width: 33px;
  height: 20px;
  
  background-color: inherit;
  border: 0;
  cursor: pointer;

  position: relative;
}

.strip {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 4px;
  background-color: #000;
  transition: .2s linear;
}

.strip1 {
  top: 0;
  transition: .2s linear;
}

.strip2 {
  top: 10px;
}

.strip3 {
  top: 20px;
  transition: .2s linear;
}


.nav-toggle.active .strip1 {
  transform: rotate(45deg)  translate(9px, 4px);
  background-color: #828282;
}

.nav-toggle.active .strip2 {
  opacity: 0;
}

.nav-toggle.active .strip3 {
  transform: rotate(-45deg)  translate(10px, -6px);
  background-color: #828282;
}

/* Intro */
.intro__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}

.intro__name {
  font-family: 'Gilroy-Bold';
  font-size: 47px;
}

.intro__prof {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: 300;
  color: #070707;
}

.intro__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  transform: rotate(270deg);
  transform-origin: 80%;
  width: 65px;
}

.intro__lang-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  text-transform: uppercase;

  background: none;
  color: #828282;
  border: none;
  padding: 0;
  cursor: pointer;
}

.intro__lang-btn::before {
  display: block;
  content: '';
  width: 2px;
  height: 15px;
  background-color: #000;
  position: absolute;
  left: 21px;
  bottom: 42px;
  margin: 0px 4px;
}

.intro__img {
  margin: 50px auto 104px;
  text-align: center;
}

.intro__img img {
  display: block;
  width: 100%;
  height: auto;
}

.intro__img-mobile {
  display: none;
}

/* About */
.section__text-about {
  padding: 0 30px 75px;
}

/* Skills */
.section-skills .section__title {
  padding-top: 90px;
}

.section__text-skills {
  margin: 69px auto 83px;
}

.skills {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__item {
  text-align: center;
  margin-bottom: 30px;
}

.skills__item-title {
  margin: 24px auto 40px;
  width: 100%;
  max-width: 80px;
  min-height: 34px;
  font-family: 'Gilroy-bold', sans-serif;
  font-size: 14px;
  color: #828282;
}

.skills__item-rate img {
  margin-right: 9px;
}

/* Portfolio */
.section__title-portfolio {
  margin-bottom: 47px;
}

.works__item-text {
  text-align: center;
  display: block;
  margin: 45px auto 100px;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}

.works__item img {
  width: 100%;
  height: auto;
}

.works__item-text:hover {
  text-decoration: underline;
}

/* Contacts */
.section__title-contacts {
  margin: 114px auto 20px;
}

.button {
  display: block;
  margin: 30px auto 85px;
  background-color: #070707;
  color: #fff;
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  font-family: 'Gilroy-bold', sans-serif;
  font-size: 18px;
  transition: 0.3s linear;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  margin: 0 30px;
  text-align: center;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.social__item:hover {
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.social__text {
  margin: 45px auto;
  text-align: center;
  font-size: 14px;
  color: #828282;
}


/* Media */
@media (max-width: 990px) {
  /* Nav */
  .nav__link {
  margin: 0 10px;
  }

  hr {
    display: none;
  }
  /* Intro */
  .intro__name {
    margin-left: 20px;
  }

  .intro__lang {
    margin-right: 20px;
  }

}

@media (max-width: 770px) {
  /* Nav */
  .nav__link {
    font-size: 16px;
    
  }

  /* Intro */
  .intro__lang {
    display: none;
  }

  .intro__prof {
    margin: 23px 20px 37px 0;
  }

}

@media (max-width: 450px) {
  /* Nav */
  .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .nav.active {
    display: block;
  }

  /* LangButtons */
  
  /* Разберись с перекрытием контента! */

  .nav__link {
    font-size: 34px;
    display: block;
    margin: 0;
    padding: 34px 26px;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    top: 80px;
    right: 5vw;
  }

  
  
  /* Intro */
  .intro__inner {
    display: block;
    margin: 65px 26px 0;
  }

  .intro__name {
    margin-left: 0;
  }

  .intro__img {
    display: none;
  }

  .intro__img-mobile {
    display: block;
  }

  .intro__img-mobile img {
    margin: 0 auto 83px;
    width: 100%;
    height: auto;
  }

  /* Skills */
  .skills__item {
    width: 100%;
    margin-bottom: 80px;
  }

  .skills__item:last-child {
    margin-bottom: 0;
  }

  /* Social */
  .social__item {
    margin: 0 20px;
  }
}

@media(max-width: 375px) {
  /* Intro */
  .intro__inner {
    display: block;
    margin: 65px 0 0 10px;
  }
}
